ul {
	list-style-type: square;
}
#n113
{
    list-style-type: circle;
}
#n114
{
    list-style-type: disc;
}
#n119
{
    list-style-type: lower-alpha;;
}
#n120
{
    list-style-type: upper-alpha;
}
#n121
{
    list-style-type: lower-greek;
}
#parent {
	width: 400px;
    height: 400px;
	border: 1px solid blue;
    border-style: dotted;
}

#child {
	height: 300px;
	border: 1px solid orange;
	margin: 50px;
}
#parent2 {
	width: 400px;
    height: 290px;
	border: 1px solid blue;
    border-style: dashed;
}

#child2 {
	height: 230px;
	border: 1px solid green;
	margin: 30px;
    border-style: dashed;
}
#secondchild {
	height: 175px;
	border: 1px solid red;
	margin: 25px;
}
#parent124-1 {
	width: 200px;
	border: 1px solid red;
}
#child124-1 {
	margin-top:    50px; 
	margin-right:  50px; 
	margin-bottom: 100px; 
	margin-left:   50px; 
	height: 100px;
	border: 1px solid green;
}
#parent124-2 {
	width: 200px;
	border: 1px solid red;
}
#child124-2 {
	margin-top:    50px; 
	margin-right:  25px; 
	margin-bottom: 50px; 
	margin-left:   25px; 
	height: 100px;
	border: 1px solid green;
}
#parent124-3 {
	width: 200px;
	border: 1px solid red;
}
#child124-3 {
	margin-top:    25px; 
	margin-right:  65px; 
	margin-bottom: 25px; 
	margin-left:   65px; 
	height: 100px;
	border: 1px solid green;
}
#parent126 {
	width: 200px;
	height: 200px;
	border: 1px solid orange;
}
#child126 {
	margin: 25px 45px 120px 10px;
	height: 50px; 
	border: 1px dashed blue;
}
#parent127-1 {
	width: 200px;
	height: 250px;
	border: 1px solid orange;
}
#child127-1 {
	margin: 100px 45px;
	height: 50px; 
	border: 1px dashed blue;
}
#parent127-2 {
	width: 200px;
	height: 100px;
	border: 1px solid orange;
}
#child127-2 {
	margin: 25px 45px;
	height: 50px; 
	border: 1px dashed blue;
}
#parent128-1{
	width: 200px;
	border: 1px solid orange;
}
#child128-1{
	margin: 100px 50px 30px;
	height: 50px; 
	border: 1px dashed blue;
}
#parent128-2{
	width: 400px; 
	border: 1px solid orange;
}
#child128-2{
	margin: 30px 100px 50px;
	height: 50px; 
	border: 1px dashed blue;
}
#elem129-1
{
	width: 200px;
	border: 1px solid red;
	text-align: justify;
	padding: 50px;
}
#elem129-21
{
	width: 500px;
	border: 1px solid green;
	text-align: justify;
	padding: 20px;
	margin-bottom: 30px;
}
#elem129-22
{
	width: 300px;
	border: 1px solid red;
	text-align: justify;
	padding: 10px;
	margin-left: 50px;
}
#elem130-1
{
	width: 300px;
	border: 1px solid red;
	text-align: justify;
	padding: 10px 20px 30px 40px;
}
#elem130-2
{
	width: 300px;
	border: 1px solid red;
	text-align: justify;
	padding: 40px 20px 40px 20px;
}
#elem130-3
{
	width: 300px;
	border: 1px solid red;
	text-align: justify;
	padding: 10px 20px 40px;
}