#elem-141
{
	display: inline;
	width: 200px;
	height: 200px;
	border: 1px solid red;
}
#elem-150-2
{
	display: block;
	width: 200px;
	height: 200px;
	border: 1px solid red;
}
.elem-155 {
	width: 100px;
	height: 100px;
	border: 1px solid red;
	display: inline-block;
}
.parent156
{
	height: 345px;
	width: 700px;
	border: 1px solid red;

}
.child156-1
{
	height: 100px;
	width: 100px;
	border: 1px solid green;
	margin: 10px auto;
	display: block;

}
.child156-2
{
	height: 100px;
	width: 200px;
	border: 1px solid green;
	margin: 10px auto;
	display: block;

}
.child156-3
{
	height: 100px;
	width: 300px;
	border: 1px solid green;
	margin: 10px auto;
	display: block;

}
.parent161 
{
	padding: 10px 0;
	border: 1px solid red;
	text-align: center;
}
  
.parent161 a 
{
	margin: 0 10px; 
}
.parent162-1 {
	padding: 10px 0;
	border: 1px solid red;
	text-align: right;
}
.parent162-1 a 
{
	margin: 0px; 
}
.parent162-2 {
	padding: 10px 0;
	border: 1px solid red;
	text-align: right;
}
.parent162-2 a 
{
	margin: 0 10px; 
}
.parent164 {
	text-align: center;
	padding: 10px 0;
	border: 1px solid red;
}
.child164 {
	padding: 10px;
	border: 1px solid green;
	display: inline-block;
	margin: 5px;
}
.parent165-1 {
	text-align: right;
	padding: 10px 0;
	border: 1px solid red;
}
.child165-1 {
	display: inline-block;
	padding: 10px;
	border: 1px solid green;
}
.parent165-2 {
	text-align: right;
	padding: 10px 20px 10px 0;
	border: 1px solid red;
}
.child165-2 {
	display: inline-block;
	padding: 10px;
	border: 1px solid green;
}
.parent165-3 {
	text-align: right;
	padding: 10px 0;
	border: 1px solid red;
}
.child165-3 {
	display: inline-block;
	padding: 10px;
	border: 1px solid green;
	margin: 10px;
}
.parent165-4 {
	text-align: right;
	padding: 10px 0;
	border: 1px solid red;
}
.child165-4 {
	text-align: center;
	width: 100px;
	padding: 10px;
	border: 1px solid green;
}
.parent165-5 {
	text-align: right;
	padding: 10px 0;
	border: 1px solid red;
}
.child165-5 {
	text-align: center;
	width: 100px;
	padding: 10px;
	border: 1px solid green;
	display: inline-block;
}
.parent166 {
	display: flex; 
	width: 900px;
	height: 400px;
	border: 1px solid red;
}
.child166 {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}
.parent167 {
	display: flex;
	width: 900px;
	border: 1px solid red;
}
.child167 {
	width: 120px;
	height: 100px;
	border: 1px solid green;
}
.parent168 {
	display: flex;
	border: 1px solid red;
}
.child168 {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}
.parent169 {
	display: inline-flex;
	border: 1px solid red;
}
.child169 {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}
.parent170 {
	display: inline-flex;
	padding: 20px;
	border: 1px solid red;
}
.child170 {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}
.parent171 {
	display: inline-flex;
	border: 1px solid red;
}
.child171 {
	margin: 30px;
	width: 120px;
	height: 60px;
	border: 1px solid green;
}
.parent173 {
	display: flex;
	width: 900px;
	height: 400px;
	justify-content: center;
	border: 1px solid red;
	margin: 20px auto;
}
.child173 {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}
.parent174 {
	display: flex;
	width: 900px;
	height: 200px;
	justify-content: space-between;
	border: 1px solid red;
}
.child174 {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}
.parent175 {
	display: flex;
	width: 900px;
	height: 200px;
	justify-content: space-around;
	border: 1px solid red;
}
.child175 {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}
.parent176 {
	display: flex;
	width: 900px;
	height: 200px;
	justify-content: space-evenly;
	border: 1px solid red;
}
.child176 {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}
#elem1-177
 {
	width: 50px;
	height: 50px;
	border: 1px solid red;
}
#elem2-177
 {
	position: absolute;
	top: 6040px;
	left: 75px;
	width: 50px;
	height: 50px;
	border: 1px solid blue;
}
#elem3-177
{
	position: absolute;
	top: 6110px;
	left: 140px;
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
#elem-h2
{
	margin-top: 130px;
}
#elem1-177-2
 {
	position: absolute;
	top: 6200px;
	width: 50px;
	height: 50px;
	border: 1px solid red;
}
#elem2-177-2
 {
	position: absolute;
	top: 6200px;
	left: 75px;
	width: 50px;
	height: 50px;
	border: 1px solid blue;
}
#elem3-177-2
{
	top: 6200px;
	position: absolute;
	left: 140px;
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
#elem1-177-3
 {
	width: 50px;
	height: 50px;
	border: 1px solid red;
}
#elem2-177-3
 {
	position: absolute;
	top: 6415px;
	left: 40px;
	width: 50px;
	height: 50px;
	border: 1px solid blue;
}
#elem3-177-3
{
	position: absolute;
	top: 6445px;
	left: 70px;
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
#elem1-177-4
 {
	background-color: #FF8888;
	width: 50px;
	height: 50px;
	border: 1px solid  #FF8888;
}
#elem2-177-4
 {
	background-color: #7E89EB;
	position: absolute;
	top: 6655px;
	left: 40px;
	width: 50px;
	height: 50px;
	border: 1px solid  #7E89EB;
}
#elem3-177-4
{
	background-color: #4DEE99;
	position: absolute;
	top: 6685px;
	left: 70px;
	width: 50px;
	height: 50px;
	border: 1px solid #4DEE99;
}
#elem1-178 {
	top: 40px;
	position: relative;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #FF8888;
}
#elem2-178 {
	bottom: 5px;
	left: 40px;
	position: relative;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #7E89EB;
}
#elem3-178 {
	top: -50px;
	left: 120px;
	position: relative;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #4DEE99;
}
#elem1-179
{
	width: 500px;
	height: 400px;
	margin:0 auto;
	position: relative;
	border: 1px solid green;
}
#elem2-179
{
	bottom: 300px;
	left: 600px;
	width: 100px;
	height: 100px;
	position: relative;
	border: 1px solid red;
}
#elem1-179-2
{
	margin:0 auto;
	width: 500px;
	height: 400px;
	position: relative;
	border: 1px solid #4DEE99;
	background-color: #4DEE99;
}
#elem2-179-2
{
	bottom: 350px;
	left: 550px;
	width: 100px;
	height: 100px;
	position: relative;
	border: 1px solid white;
	background-color: white;
}
#elem3-179-2
{
	bottom: 250px;
	left: 850px;
	width: 100px;
	height: 100px;
	position: relative;
	border: 1px solid white;
	background-color: white;
}
#elem1-179-3
{
	margin:0 auto;
	width: 200px;
	height: 430px;
	position: relative;
	border: 1px solid black;
}
#elem2-179-3
{
	bottom: 380px;
	left: 700px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: relative;
	border: 1px solid black;
	background-color: red;
}
#elem3-179-3
{
	bottom: 360px;
	left: 700px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: relative;
	border: 1px solid black;
	background-color: yellow;
}
#elem4-179-3
{
	bottom: 340px;
	left: 700px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: relative;
	border: 1px solid black;
	background-color: green;
}
#elem1-179-4
{
	margin:0 auto;
	width: 500px;
	height: 500px;
	border-radius: 250px;
	position: relative;
	border: 1px solid #4DEE99;
	background-color: #4DEE99;
}
#elem2-179-4
{
	width: 70px;
	height: 70px;
	position: relative;
	border: 1px solid #4DEE99;
	background-color: white;
	bottom: 290px;
	left: 714px;
}
#elem3-179-4
{
	width: 200px;
	height: 20px;
	position: relative;
	border: 1px solid #4DEE99;
	background-color: white;
	bottom: 210px;
	left: 650px;
}
#elem4-179-4
{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: relative;
	border: 1px solid #4DEE99;
	background-color: white;
	bottom: 525px;
	left: 800px;
}
#elem5-179-4
{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: relative;
	border: 1px solid #4DEE99;
	background-color: white;
	bottom: 625px;
	left: 600px;
}
#elem1-179-5
{
	margin:0 auto;
	width: 400px;
	height: 400px;
	border-radius: 250px;
	position: relative;
	border: 1px solid #C4CD14;
	background-color: #C4CD14;
}
#elem2-179-5
{
	width: 70px;
	height: 70px;
	border-radius: 35px;
	position: relative;
	border: 1px solid white;
	background-color: white;
	bottom: 200px;
	left: 716px;
}
#elem3-179-5
{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	position: relative;
	border: 1px solid white;
	background-color: white;
	bottom: 400px;
	left: 800px;
}
#elem4-179-5
{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	position: relative;
	border: 1px solid white;
	background-color: white;
	bottom: 485px;
	left: 630px;
}
#elem5-179-5 {
	position: relative;
	width: 200px; /* Ширина полумесяца */
	height: 100px; /* Высота полумесяца */
	background-color: white; /* Цвет полумесяца */
	border-radius: 100px 100px 0 0; /* Закругляем верхние углы */
	overflow: hidden; /* Скрываем нижнюю часть */
	bottom: 360px;
	left: 650px;
  }
  
  #elem5-179-5::after {
	content: '';
	position: absolute;
	width: 200px; /* Ширина полумесяца */
	height: 200px; /* Высота полумесяца */
	background-color: #C4CD14; /* Цвет фона, чтобы создать эффект полумесяца */
	border-radius: 50%; /* Полный круг */
	left: 0; /* Позиция по горизонтали */
	top: -120px; /* Позиция по вертикали для наложения */
  }
#elem180
{
	width: 400px;
	height: 400px;
	position: relative;
	border: 1px solid red;
	position: absolute;
}
#elem180-1
{
	width: 50px;
	height: 50px;
	position: relative;
	border: 1px solid black;
    left: 350px;
}
#elem180-2
{
	width: 50px;
	height: 50px;
	position: relative;
	border: 1px solid black;
	top: 297px;
}
#elem-h2-2
{
	margin-top: 330px;
}
#elem182 {
	position: absolute;
	top:    100px;
	right:  100px;
	bottom: 100px;
	left:   100px;
	border: 1px solid green;
}
#elem182-2 {
	position: absolute;
	top:    100px;
	right:  200px;
	bottom: 50px;
	left:   10px;
	border: 1px solid black;
}
#elem183{
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid green;
}
#elem183-1
{
	position: absolute;
    left: 550px;
    top: 11715px;
    width: 30px;
    height: 30px;
    border: 1px solid red;
}
#elem183-2
{
	position: absolute;
    right: 550px;
    top: 11715px;
    width: 30px;
    height: 30px;
    border: 1px solid red;
}