#elem-141
{
	display: inline;
	width: 200px;
	height: 200px;
	border: 1px solid red;
}
#elem-150-2
{
	display: block;
	width: 200px;
	height: 200px;
	border: 1px solid red;
}
.elem-155 {
	width: 100px;
	height: 100px;
	border: 1px solid red;
	display: inline-block;
}
.parent156
{
	height: 345px;
	width: 700px;
	border: 1px solid red;

}
.child156-1
{
	height: 100px;
	width: 100px;
	border: 1px solid green;
	margin: 10px auto;
	display: block;

}
.child156-2
{
	height: 100px;
	width: 200px;
	border: 1px solid green;
	margin: 10px auto;
	display: block;

}
.child156-3
{
	height: 100px;
	width: 300px;
	border: 1px solid green;
	margin: 10px auto;
	display: block;

}
.parent161 
{
	padding: 10px 0;
	border: 1px solid red;
	text-align: center;
}
  
.parent161 a 
{
	margin: 0 10px; 
}
.parent162-1 {
	padding: 10px 0;
	border: 1px solid red;
	text-align: right;
}
.parent162-1 a 
{
	margin: 0px; 
}
.parent162-2 {
	padding: 10px 0;
	border: 1px solid red;
	text-align: right;
}
.parent162-2 a 
{
	margin: 0 10px; 
}
.parent164 {
	text-align: center;
	padding: 10px 0;
	border: 1px solid red;
}
.child164 {
	padding: 10px;
	border: 1px solid green;
	display: inline-block;
	margin: 5px;
}
.parent165-1 {
	text-align: right;
	padding: 10px 0;
	border: 1px solid red;
}
.child165-1 {
	display: inline-block;
	padding: 10px;
	border: 1px solid green;
}
.parent165-2 {
	text-align: right;
	padding: 10px 20px 10px 0;
	border: 1px solid red;
}
.child165-2 {
	display: inline-block;
	padding: 10px;
	border: 1px solid green;
}
.parent165-3 {
	text-align: right;
	padding: 10px 0;
	border: 1px solid red;
}
.child165-3 {
	display: inline-block;
	padding: 10px;
	border: 1px solid green;
	margin: 10px;
}
.parent165-4 {
	text-align: right;
	padding: 10px 0;
	border: 1px solid red;
}
.child165-4 {
	text-align: center;
	width: 100px;
	padding: 10px;
	border: 1px solid green;
}
.parent165-5 {
	text-align: right;
	padding: 10px 0;
	border: 1px solid red;
}
.child165-5 {
	text-align: center;
	width: 100px;
	padding: 10px;
	border: 1px solid green;
	display: inline-block;
}