#elem201{
	width: 800px;
    height:300px;
	text-align: justify;
    font-size: 18px;
    border: 1px solid black;
    padding: 20px;
    margin: 0 auto;
}
#file-201 {
	float: right;
    width:100px;
    height:70px;
    border: 1px solid green;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
}
#file-202 {
	float: right;
    width:130px;
    height:70px;
    border: 1px solid green;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
}
#elem203
{
    padding: 20px;
    border: 1px solid black;
}
#file-203 {
	float: left;
    width:100px;
    height:50px;
    border: 1px solid green;
    margin: 0 10px;
    text-align: center;
}
.clearfix
{
    clear: both;
}
#file-203-2 {
	float: right;
    width:100px;
    height:50px;
    border: 1px solid green;
    margin: 0 10px;
    text-align: center;
}
#elem204 {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
#file-204 {
	float: left;
    width:120px;
    height:60px;
    border: 1px solid green;
    text-align: left;
}
#elem205 {
    display: flex;
    flex-direction: row-reverse;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
#elem206 {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
#elem207 {
    display: flex;
    flex-direction: column-reverse;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}