h1,h2,h3 
{
	text-align: center;
    color: red;
}
h3
{
    font-size: 16px;	
}
li i 
{
    color: red;
}
li b
{
    color: red;

}
p i
{
    color: green;
}	
b i
{
    color: black;
}
.odd
{
    color: red;
}
.eve
{
    color: green;
}
.eee
{
    color: red;
}
.xxx
{
    font-size: 30px;
}
.block1 {
	color: red;
}
.block2 {
	color: green;
}
.block3 {
	color: blue;
}
.block4
{
    color: red;
}
.block5
{
    color: green;
}
.yyy,.zzz {
	
	line-height: 1.5;
	font-family: Arial;
}
.zzz {
	font-size: 30px;
}
.yyy
{
    font-size: 20px;
}
.ddd, .ooo, .ggg
{
	text-align: center;
	font-family: Arial;
}
.ooo
{
	font-size: 30px;	
}
.ggg 
{
	font-size: 35px;
}
.ddd
{
    font-size: 20px;
}
h2.header
{
    font-size: 40px;
}
h3.header
{
    font-size: 30px;
}
.sss i
{
    color: red;
}