h1,h2,h3 
{
	text-align: center;
    color: red;
}
h3
{
    font-size: 16px;	
}
li i 
{
    color: red;
}
li b
{
    color: red;

}
p i
{
    color: green;
}	
b i
{
    color: black;
}
.odd
{
    color: red;
}
.eve
{
    color: green;
}
.eee
{
    color: red;
}
.xxx
{
    font-size: 30px;
}